In [1]:
import pandas as pd
import numpy as np
frame=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [2]:
store['obj1']

           a
0  -0.996726
1   1.940704
2   1.218666
3   1.667520
4   0.147864
..       ...
95 -0.762151
96  0.465890
97 -0.139178
98  0.275748
99 -0.390660

[100 rows x 1 columns]

In [3]:
store.put('obj2',frame,format='table')

In [4]:
store.select('obj2',where=['index >=10 and index <=15'])

           a
10 -0.167001
11 -0.650794
12  1.609422
13 -0.013626
14 -0.512653
15 -0.825946

In [5]:
store.close()

In [6]:
frame.to_hdf('mydata.h5','obj3',format='table')

In [7]:
pd.read_hdf('mydata.h5','obj3',where=['index <5'])

          a
0 -0.996726
1  1.940704
2  1.218666
3  1.667520
4  0.147864

In [8]:
import requests

In [9]:
url='https://api.github.com/repos/pandas-dev/pandas/issues'

In [10]:
resp=requests.get(url)

In [13]:
resp

In [15]:
import sqlite3
query = """
CREATE TABLE test
(a VARCHAR(20),b VARCHAR(20),
 c REAL,       d INTEGER
);"""
con=sqlite3.connect('mydata.sqlite')
con.commit()

In [16]:
data=[('Atlanta','Georgia',1.25,6),
      ('Tallahassee','Florida',2.6,3),
      ('Sacramento','California',1.75,5)]
stmt="INSERT INTO test VALUES(?,?,?,?)"
con.executemany(stmt,data)
con.commit()

In [17]:
cursor=con.execute('select * from test')

In [18]:
rows=cursor.fetchall()

In [19]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.75, 5)]

In [20]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [22]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.75  5

In [23]:
import sqlalchemy as sqla